body {
    padding: 10px;    
}

.title_box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title_fontbg_box {
    background: #1F2124;
    width: fit-content;
    height: 40px;
    border-radius: 30px;
    margin-right: 10px;
}

.title {
    color:#fff;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}

.user_column {
    columns: 3;
    margin-top: 20px;
    width: fit-content;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.description {
    font-family: "Microsoft JhengHei", monospace;
    font-weight: 300;
    padding-left: 10px;
    margin-left: 5px;
    margin-top: 20px;
    border-left: 3px gray solid;
}

.btn_search {
    background-color: #1F2124;
    border-radius: 15px;
    border-width: 3px;
    height: 30px;
    width: fit-content;
    color: #F68657;
    font-weight: bold;
}

.btn_add {
    background-color: #1F2124;
    border-radius: 15px;
    border-width: 0px;
    height: 30px;
    width: 40px;
    color: #F68657;
    font-weight: bold;
}

.btn_minu {
    background-color: #F68657;
    border-radius: 15px;
    border-width: 0px;
    height: 30px;
    width: 30px;
    color: white;
    font-weight: bold;
}

.btn_add_woman {
    background-color: #29c4c7;
    border-radius: 15px;
    border-width: 0px;
    height: 30px;
    width: 30px;
    color: #fff;
    font-weight: bold;
}

.btn_minu_woman {
    background-color: #1F2124;
    border-radius: 15px;
    border-width: 0px;
    height: 30px;
    width: 30px;
    color: #29c4c7;
    font-weight: bold;
}

.name {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px #F68657 solid;
    padding-bottom: 1px;
    margin-left: 5px;
    margin-right: 10px;
}

.name_woman {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px #29c4c7 solid;
    padding-bottom: 1px;
    margin-left: 5px;
    margin-right: 10px;
}

.score {
    font-size: 16px;
    font-family: monospace;
}

/* ----------------------分頁-------------------------------- */

#tab {
    width: 100%;
    height: 100%;
    background: #F68657;
    border: solid 3px #F68657;
    border-radius: 15px;
}

/* 頁籤ul */
#tab > ul {
    /* overflow: hidden; */
    margin: 0;
    padding: 10px 20px 0 20px;
}

#tab > ul > li {
    list-style-type: none;
}

/* 頁籤上的文字 */
#tab > ul > li > a { 
    text-decoration: none;
    font-size: 15px;
    font-family: "Microsoft JhengHei", monospace;
    font-weight: 300;
    color: #333;
    float: left;
    padding: 10px;
    margin-left: 5px;
}

/*頁籤div內容*/
#tab > div {
    clear: both;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

span:target ~ #tab > ul li:first-child a {
    background: #F68657;
}

span:target ~ #tab > div:first-of-type {
    visibility: hidden;
    height: 0;
}

/*頁籤變換&第一筆*/
span ~ #tab > ul li:first-child a,
#tab-1:target ~ #tab > ul li a[href$="#tab-1"],
#tab-2:target ~ #tab > ul li a[href$="#tab-2"],
#tab-3:target ~ #tab > ul li a[href$="#tab-3"],
#tab-4:target ~ #tab > ul li a[href$="#tab-4"] {
    background: #fff;
    border-radius: 15px 15px 0 0;
}

span ~ #tab > ul li:first-child a::before,
#tab-1:target ~ #tab > ul li a[href$="#tab-1"]::before,
#tab-2:target ~ #tab > ul li a[href$="#tab-2"]::before,
#tab-3:target ~ #tab > ul li a[href$="#tab-3"]::before,
#tab-4:target ~ #tab > ul li a[href$="#tab-4"]::before {
    background-color: white;
    height: 100%;
}

/*頁籤內容顯示&第一筆*/
span ~ #tab > div:first-of-type,
#tab-1:target ~ #tab > div.tab-content-1,
#tab-2:target ~ #tab > div.tab-content-2,
#tab-3:target ~ #tab > div.tab-content-3,
#tab-4:target ~ #tab > div.tab-content-4 {
    visibility: visible;
    height: fit-content;
    background: #fff;
    border-radius: 15px 15px 15px 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0 5px 5px 5px;
}

span {
    display: none;
}